<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="hipeoplea">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='/img/icon.png')}}">
        {% if title %}
        <title>{{ title }} - Hackathon</title>
        {% else %}
        <title>Hackathon</title>
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>

