{% extends "header_foter.html" %}
    {% block cont %}
    <main>
    <div class="map" style="position:relative;overflow:hidden;">
        <a href="https://yandex.ru/maps/75/vladivostok/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Владивосток</a>
        <a href="https://yandex.ru/maps/75/vladivostok/?ll=131.940258%2C43.114504&mode=usermaps&source=constructorLink&um=constructor%3Ade116e0a0254b4672223bc805f35d23ce55b1769ab378c0f31f22a90edda68f3&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">
        Яндекс.Карты — поиск мест и адресов, городской транспорт</a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUQQQWisD" width="700" height="580" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        <a href="#" class="border-button">Начать</a>
    </main>
    {% endblock %}

