{% extends "header_foter.html" %}
    {% block cont %}
    <main>
    <div class="map" style="position:relative;overflow:hidden;">
        <a href="https://yandex.ru/maps/75/vladivostok/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Владивосток</a>
        <a href="https://yandex.ru/maps/75/vladivostok/?ll=131.911105%2C43.116161&mode=usermaps&source=constructorLink&um=constructor%3A06ba3f1c8715d8192fe567f1ce4b423da6bc7ec069525ec7065edaa3377d62ce&utm_medium=mapframe&utm_source=maps&z=13" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — поиск мест и адресов, городской транспорт</a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUQJZv-xA" width="700" height="580" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        <a href="#" class="border-button">Начать</a>
    </main>
    {% endblock %}
